{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "importOrder": ["^react", "^next", "<THIRD_PARTY_MODULES>", "^@/components/(.*)$", "^@/lib/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "jsxSingleQuote": false,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "printWidth": 120,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "singleAttributePerLine": false,
  "singleQuote": false,
  "tabWidth": 2,
  "tailwindFunctions": ["tw", "clsx", "cva", "cn", "tv"],
  "trailingComma": "es5",
  "useTabs": false
}
