@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.marquee-vertical {
  animation: marquee-vertical 10s linear infinite;
  will-change: transform;
}
