.info-head {
  grid-area: info-head;
}

.info-desc {
  grid-area: info-desc;
}

.info-nav {
  grid-area: info-nav;
}

.info-slide {
  grid-area: info-slide;
}

.info-space {
  grid-area: info-space;
}

.grid-container {
  display: grid;
  grid-template-areas: "info-head info-slide info-space" "info-desc info-slide info-space" "info-nav info-slide info-space";
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: min-content min-content 1fr;
  column-gap: 1rem;
}

@media only screen and (max-width: 768px) {
  .grid-container {
    grid-template-areas: "info-head" "info-desc" "info-slide" "info-nav" "info-space";
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    column-gap: 0;
  }
}
