.swiper-pagination-bullet {
  background: hsla(212, 82%, 15%, 1) !important;
  opacity: 1 !important;
}

.white .swiper-pagination-bullet {
  background: rgb(255, 255, 255) !important;
}

.swiper-pagination-bullet-active,
.white .swiper-pagination-bullet-active {
  background: url("/carousel-dot-active.svg") !important;
  background-size: cover !important;
  width: 3rem !important;
  height: 3rem !important;
}

.swiper-pagination-horizontal {
  width: fit-content !important;
  display: flex !important;
  gap: 2rem !important;
  align-items: center !important;
  justify-content: end !important;
}

.swiper-button {
  display: flex;
  position: absolute;
  top: calc(50% - 12px);
  z-index: 10;
  cursor: pointer;
}
.swiper-button svg {
  width: 3rem;
  height: 1.5rem;
}
.image-swiper-button-prev {
  left: 5px;
}
.image-swiper-button-next {
  right: 0px;
}
.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 768px) {
  .swiper-pagination-bullet {
    width: 5px !important;
    height: 5px !important;
  }

  .swiper-pagination-bullet-active {
    width: 1.75rem !important;
    height: 1.75rem !important;
  }

  .swiper-pagination-horizontal {
    gap: 1rem !important;
  }

  .swiper-button svg {
    width: 2rem;
    height: 1.5rem;
  }
}

/* .other-latest-news-swiper-slide-active {
  padding-left: 2.5rem; pl-10 */
/* } */
